<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
Error! Page not found.<br>
<br><br>
Adjust the URL accordingly.<br>
<br><br>
Calculator: 			http://localhost:8080/calc/{operator}/{num1}/{num2}<br>
Rock paper scissor: 	http://localhost:8080/rps<br>
Random image: 			http://localhost:8080/img<br>
CSV file: 				http://localhost:8080/csv-converter<br>
<br><br>
* operator can be "add", "sub" or "multi"<br>
* num1 and num2 is where you add the numbers you want to calculate<br>

</body>
</html>